@charset "UTF-8";

@media screen and (min-width:320px) and (max-width:768px) {

    .botao {
        position: relative;
        left: 40px;
    }

    div#diferente {
        position: relative;
        border: 0px;
        margin: 0px;
        top: -10px;
        right: 40px;
    }

}

@media screen and (min-width:768px) and (max-width:1050px) {
    
    span#burguer {
        display: none;
    }

    header menu {
        display: inline-block;
        width: 100vw;
    }

    header li {
        display: inline-block;
        position: relative;
        top: 11px;
        transform: translate(-5%, 0%);
        width: 18%;
        font-size: 0.8em;
        padding: 0px;
    }

    div#diferente {
        position: absolute;
        border: 0px;
        margin: 0px;
        top: -21px;
        right: 70px;
    }

    #logins {
        position: absolute;
        top: 10px;
        right: 20px;
        padding: 5px;
    }

    #login {
        float: right;
    }

    footer input#enviar {
        display: inline-block;
        width: 250px;
    }

    footer label {
        color: white;
        font-weight: bold;
    }

    fieldset {
        display: inline-block;
    }
}

@media screen and (min-width:1050px) {

    * {
        font-size: 0.5em;
    }

    main {
        max-width: 650px;
    }

    header {
        position: relative;
        height: 100px;
    }

    header form {
        position: relative;
        top: -10px;
        left: 350px;
    }

    header menu {
        display: block;
        width: 100vw;
    }

    header li {
        display: inline-block;
        position: relative;
        top: 22px;
        transform: translate(-5%, -80%);
        width: 19%;
        font-size: 1em;
        padding: 0px;
    }

    span#burguer {
        display: none;
    }

    #person {
        position: relative;
        top: 15px;
    }

    #login {
        float: right;
    }

    form#pesquisa {
        display: inline-block;
        top: 0px;
        margin: 0 auto;
    }

    #ipesquisa {
        
        position: absolute;
    }

    footer {
        margin: 0px;
        width: 100%;
        height: 360px;
    }

    footer > p#info {
        margin-top: 0px;
        width: 100vw;
    }

    footer li {
        display: inline-block;
    }

    footer > form input {
        width: 250px;
        padding: 14px;
    }

    footer input#enviar {
        display: inline-block;
        width: 250px;
    }

    footer label {
        color: white;
        font-weight: bold;
    }

    fieldset {
        display: inline-block;
    }

    footer form {
        background-color: rgb(10, 10, 82);
    }

    #menu {
        text-align: right;
        
    }

    #logins {
        display: inline-block;
        position: relative;
        right: 10px;
        top: 0px;
        transform: translate(-50%, -70%);
    }

}

